input {
  border: 0;
  background: transparent;
}

.Rotate-1 {
  min-width: 120px;
  max-width: 120px;
}

.Rotate-2 {
  transform: rotate(90deg);
}

.row {
  flex-wrap: nowrap;
}

.card {
  min-width: 250px;
}
